
.black-border {
    background-color: white;
    border: 1px solid black;
    min-height: 100px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 600px;
}

.check {
    color: #f54b4b;
    font-weight: bold;
}


.event {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

